.ClueList {
  list-style-type: none;
  padding-left: 0;
  overflow: scroll;
}

.ClueList__clue {
  margin-block: 4px;
  padding: 2px;
  border: 2px solid transparent;
}

.ClueList__clue--selected {
  background-color: var(--selected-cell-color);
  border: 2px solid var(--text-color);
  border-radius: 5px;
  color: var(--text-color-light);
  font-weight: bold;
}

.ClueList__clue-number {
  font-weight: bold;
}
