.Controls {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 0;
}

.Controls__wrapper {
  display: flex;
  flex-direction: column;
}

.Controls__instruction-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.Controls__instruction {
  margin: 0;
  min-width: 3.5rem;
}

.Controls__control {
  appearance: none;
  border: none;
  background: inherit;
  color: inherit;
  border: 1px dotted var(--text-color);
  cursor: pointer;
  padding: 2px 12px;
  margin-block: 8px;
  border-radius: 16px;
  font-weight: bold;
  width: max-content;
  font-size: unset;
  box-shadow: 2px 2px var(--text-color);
  text-shadow: inherit;
  font-family: inherit;
}

.Controls__instruction-wrapper--reveal .Controls__control,
.Controls__instruction-wrapper--clear .Controls__control {
  border-color: var(--text-color-light);
}

.Controls__instruction-wrapper--check .Controls__control {
  background: var(--button-color);
  color: var(--text-color-light);
}

.Controls__instruction-wrapper--reveal .Controls__control {
  background: var(--button-color-dark);
  color: var(--text-color-light);
}

.Controls__instruction-wrapper--clear .Controls__control {
  background: var(--button-color-darker);
  color: var(--text-color-light);
}

.Controls__instruction-wrapper .Controls__control:hover {
  transition: background-color .1s ease-in;
}

.Controls__instruction-wrapper--check .Controls__control:hover,
.Controls__instruction-wrapper--check .Controls__control:focus {
  background-color: var(--button-color-hover);
}

.Controls__instruction-wrapper--reveal .Controls__control:hover,
.Controls__instruction-wrapper--reveal .Controls__control:focus {
  background-color: var(--button-color-dark-hover);
}

.Controls__instruction-wrapper--clear .Controls__control:hover,
.Controls__instruction-wrapper--clear .Controls__control:focus {
  background-color: var(--button-color-darker-hover);
  color: var(--text-color-light-hover);
}

@media (max-width: 320px) {
  .Controls {
    flex-direction: column;
    gap: 8px;
  }
  .Controls__control {
    margin-block: 0;
  }
  .Controls__wrapper {
    flex-direction: column;
    gap: 16px;
  }
  .Controls__instruction-wrapper {
    align-items: start;
  }
}
