:root {
  min-height: 100vh;
  --background-color-dark: #ffcb93;
  --background-color-light1: #c4edff;
  --background-color-light2: #ffffff;
  --selected-clue-color: var(--background-color-dark);
  --selected-cell-color: #c97011;
  --button-color: var(--selected-clue-color);
  --button-color-hover: #deae7b;
  --button-color-dark: var(--selected-cell-color);
  --button-color-dark-hover: #7b450b;
  --text-color: #000000;
  --text-color-light: var(--background-color-light2);
  --grid-gap: 4vh;
  --grid-outer-padding: 5vh;
  --main-heading-size: 7vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: repeating-linear-gradient(
    225deg,
    var(--background-color-light1) -200px,
    var(--background-color-light2) 200px,
    var(--background-color-dark) 200px,
    var(--background-color-dark) 400px
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  font-family: 'Limelight', cursive;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

ul {
  margin: 0;
}
