:root {
  --line-height: 1.3;
  --grid-size: 454px;
  --crossword-height: 596px;
  --crossword-width: 1110px;
  --background-color-dark: #ffcb93;
  --background-color-light1: #c4edff;
  --background-color-light2: #ffffff;
  --selected-clue-group-color: var(--background-color-dark);
  --selected-cell-color: #c97011;
  --button-color: #e79237;
  --button-color-hover: #c37726;
  --button-color-dark: #6d3a04;
  --button-color-dark-hover: #4f2a01;
  --button-color-darker: #000000;
  --button-color-darker-hover: #000000;
  --text-color: #000000;
  --text-color-light: var(--background-color-light2);
  --text-color-light-hover: #d9d9d9;
  --finished-clue-text: #848484;
  --grid-column-gap: var(--outer-padding);
  --grid-row-gap: 16px;
  --outer-padding: 32px;
  --headings-font: 'Limelight', cursive;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: var(--line-height);
  overflow: scroll;
  color: var(--text-color);
  margin: 0px;
  font-family: BlinkMacSystemFont, 'Helvetica Neue', -apple-system, 'Segoe UI',
               'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
               'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: repeating-linear-gradient(
    225deg,
    var(--background-color-light1) -200px,
    var(--background-color-light2) 200px,
    var(--background-color-dark) 200px,
    var(--background-color-dark) 400px
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-transform: lowercase;
  font-family: var(--headings-font);
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2.3rem;
}

ul {
  margin: 0;
}
